---
import ShareButton from '../buttons/ShareButton.astro'
import Contact from '../contact/Contact.astro'
import DropdownLanguage from '../dropdowns/DropdownLanguage.astro'
import LinkAsButton from '../links/LinkAsButton.astro'
---

<header
  class="p-2 m-3 bg-green-700 flex flex-row items-center justify-center gap-4"
>
  <Contact />
  <DropdownLanguage />
  <div class={`${Astro.url.pathname === '/contributors' ? 'hidden' : ''}`}>
    <LinkAsButton href="/contributors" text="View contributors" />
  </div>
  <div class={`${Astro.url.pathname === '/' ? 'hidden' : ''}`}>
    <LinkAsButton href="/" text="Back to home" />
  </div>
  <ShareButton />
</header>
