:root {
  background: rgb(2,0,36);
  background: linear-gradient(
    180deg, 
    rgba(2,0,36,1) 0%, 
    rgba(9,9,121,1) 35%, 
    rgba(0,212,255,1) 100%
  );
  min-height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
