---
import ShareIcon from "@/icons/share/ShareIcon.astro";
---

<button type="button" class="hover:scale-110 active:scale-90" id="btn-share">
  <ShareIcon />
</button>

<script>
  import { shareController } from "@/controllers/share";

  const btnShare = document.getElementById("btn-share");

  btnShare?.addEventListener("click", shareController);
</script>
