---
// Layout
import Layout from '@/layouts/Layout.astro'

// Components
import SearchForm from '@/components/forms/SearchForm.astro'
---

<Layout title="PokeInfo">
  <main>
    <div class="flex justify-center items-center">
      <SearchForm />
    </div>
  </main>
</Layout>
