---
// Components
import RenderSocialNetwork from '../renders/RenderSocialNetwork.astro'
---

<div class="flex flex-col items-center justify-center">
  <h3 class="text-white text-lg mb-2">Contact method</h3>
  <div class="flex flex-row gap-3">
    <RenderSocialNetwork
      href="https://twitter.com/CatalinasRaul"
      imageURL="/social-networks/twitter.svg"
      altText="Twitter logo"
    />
    <RenderSocialNetwork
      href="https://www.instagram.com/raulf1foreveryt_oficial"
      imageURL="/social-networks/instagram.svg"
      altText="Instagram logo"
    />
    <RenderSocialNetwork
      href="https://www.facebook.com/raul.catalinasesteban"
      imageURL="/social-networks/facebook.svg"
      altText="Facebook logo"
    />
    <RenderSocialNetwork
      href="https://github.com/RaulCatalinas"
      imageURL="/social-networks/github.svg"
      altText="Github logo"
    />
  </div>
</div>
