---
interface Props {
  labelText: string
  id: string
  textColor?: string
}

const { labelText, id, textColor = 'white' } = Astro.props
---

<div class="flex flex-col items-center justify-center">
  <label for={id} class={`text-lg mb-2 block text-${textColor} text-center`}>
    {labelText}
  </label>
  <select
    {id}
    class="p-2 text-base rounded cursor-pointer focus:border-blue-500"
  >
    <slot />
  </select>
</div>
